<!DOCTYPE html>
<html>
<title>CSearch</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="sidebar.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="heading.css">
<body>

<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button>
  <a href="index.html" class="w3-bar-item w3-button">Home</a>
  <a href="projectlistings.html" class="w3-bar-item w3-button">Projects</a>
  <a href="polls.html" class="w3-bar-item w3-button">Polls</a>
  <a href="create.html" class="w3-bar-item w3-button">Create</a>
</div>

<div zclass="w3-main" id="main">

<div class="w3-teal">
  <button id="button_open" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <h1 id="CSearch_text" align="center">CSearch</h1>
</div>

<div class="w3-panel w3-card" id="project_card_1">
  <h1 id="h1break">What color are your eyes?</h1>
  <h5>No Requirements</h5>
  <br>
  <div class="list-group">
    <button type="button" class="list-group-item">Green</button>
    <br>
    <button type="button" class="list-group-item">Brown</button>
    <br>
    <button type="button" class="list-group-item">Amber</button>
    <br>
    <button type="button" class="list-group-item">Blue</button>
    <br>
  </div>
  <h5>Poll Count: 7506790</h5>
  <br>
  <p><a class="w3-card-5 btn btn-primary btn-lg" href="polls.html" role="button">Submit Response</a></p>
</div>

<div class="w3-panel w3-card" id="project_card_2">
  <h1 id="h1break">What is your bloodtype?</h1>
  <h5>Must have black hair </h5>
  <br>
  <div class="list-group">
    <button type="button" class="list-group-item">AB Negative</button>
    <br>
    <button type="button" class="list-group-item">AB Negative</button>
    <br>
    <button type="button" class="list-group-item">B Positive</button>
    <br>
    <button type="button" class="list-group-item">B Negative</button>
    <br>
    <button type="button" class="list-group-item">A Positive</button>
    <br>
    <button type="button" class="list-group-item">A Negative</button>
    <br>
    <button type="button" class="list-group-item">O Positive</button>
    <br>
    <button type="button" class="list-group-item">O Negative</button>
    <br>
  </div>
  <h5>Poll Count: 1723</h5>
  <br>
  <p><a class="w3-card-5 btn btn-primary btn-lg" href="polls.html" role="button">Submit Response</a></p>
</div>

<div class="w3-panel w3-card" id="project_card_3">
  <h1 id="h1break">About how many hours do you use your phone?</h1>
  <h5>No Requirements</h5>
  <br>
  <div class="list-group">
    <button type="button" class="list-group-item">0-1 Hours</button>
    <br>
    <button type="button" class="list-group-item">2-3 Hours</button>
    <br>
    <button type="button" class="list-group-item">4-5 Hours</button>
    <br>
    <button type="button" class="list-group-item">6-7 Hours</button>
    <br>
    <button type="button" class="list-group-item">8+ Hours</button>
    <br>
  </div>
  <h5>Poll Count: 3271</h5>
  <br>
  <p><a class="w3-card-5 btn btn-primary btn-lg" href="polls.html" role="button">Submit Response</a></p>
</div>

<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
