<!DOCTYPE html>
<html>
<title>CSearch</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="sidebar.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="heading.css">
<body>

<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_clsose()">Close &times;</button>
  <a href="index.html" class="w3-bar-item w3-button">Home</a>
  <a href="projectlistings.html" class="w3-bar-item w3-button">Projects</a>
  <a href="polls.html" class="w3-bar-item w3-button">Polls</a>
  <a href="create.html" class="w3-bar-item w3-button">Create</a>
</div>

<div zclass="w3-main" id="main">

<div class="w3-teal">
  <button id="button_open" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <h1 id="CSearch_text" align="center">CSearch</h1>
</div>

<div class="w3-panel w3-card" id="project_card_1">
  <h1>Studying genetic disorders, and altering genes.</h1>
  <h4>Project hosted at Clark's Genetics lab.</h4>
  <ul>
    <p>Requirements include:</p>
    <ul>Height: Any</ul>
    <ul>Weight: 150lbs-200lbs</ul>
    <ul>Age: 18-55</ul>
  </ul>
  <p><a class="w3-card-5 btn btn-primary btn-lg" href="projectlisting1.html" role="button">Project Information</a></p>
</div>

<div class="w3-panel w3-card" id="project_card_2">
  <h1>Altering the "Cancer" gene.</h1>
  <h4>Project hosted at Kaul Genetics Building. Requires a Urine test.</h4>
  <ul>
    <p>Requirements include:</p>
    <ul>Height: 6' 1"</ul>
    <ul>Weight: 150lbs</ul>
    <ul>Age: 18-55</ul>
  </ul>
  <p><a class="w3-card-5 btn btn-primary btn-lg" href="projectlisting2.html" role="button">Project Information</a></p>
</div>

<div class="w3-panel w3-card" id="project_card_3">
  <h1>Stroke Research</h1>
  <h4>Project hosted at UAB Neurology Building. Requires a MRI.</h4>
  <ul>
    <p>Requirements include:</p>
    <ul>Height: Any</ul>
    <ul>Weight: Any</ul>
    <ul>Age: 18-45</ul>
    <ul>Other: Had a stroke in the past 2 years</ul>
  </ul>
  <p><a class="w3-card-5 btn btn-primary btn-lg" href="projectlisting3.html" role="button">Project Information</a></p>
</div>

<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>
