{% extends 'layout.html' %}
{% block body %}
<h4 id="howtouseipgeo">How to use IPGeo</h4>

<p>Before running on your local computer, make sure you have python 3.6+ with the latest version of pandas installed and Hash.key in the same folder as the python file.
<br>
To Install Pandas, run <code>pip install pandas</code>.
<br>
Before running for the first time, make a folder named "results". This will have all the .json and .csv files stored in it after running.
<br>
To query IP, run <code>python request.py</code> in your command prompt environment with the pandas installed.
<br>
You will be prompted to enter how many IP searches you want to make.
<br>
Your prompt will look like this <code>How many IP searches would you like to make?</code>
<br>
You will be prompted to enter the IP you want to search. As an example use 8.8.8.8 which is Google's IP.
<br>
You will be given a prompt like this <code>Please Enter IPv4 request in x.x.x.x format. 8.8.8.8</code>
<br>
After entering the IP, a file called result.csv and result.json are saved which have the relevant information regarding your IP Search.</p>
{% endblock %}